*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}
#part1{
    
    /* background-color: aqua; */
    height: 100%;
    width: 20%;
    background-image: url(https://images.unsplash.com/photo-1665418350547-6e5cb43d507b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#part2{
    
    /* background-color: rgb(182, 191, 191); */
    height: 100%;
    width: 70%;
    background-image: url(https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?q=80&w=1392&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#part3{
    
    /* background-color: rgb(81, 41, 107); */
    height: 100%;
    width: 10%;
    background-image: url(https://images.unsplash.com/photo-1708789738414-c4a49ed21f1b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#text{
    height: 150px;
    width: 400px;
    position: absolute;
    /* background-color: red; */
    top: 30%;
    left: 15%;
}
h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 80%;
    color: rgb(27, 2, 2);
    font-family:monument;
    letter-spacing: 5px;    
}
.smallPic{
    /* background-color: aquamarine; */
    height: 350px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 75%;
    background-size:cover;
    background-position: center;
   
    background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#verText {
    position: absolute;
    transform: rotate(90deg);
    right: -40%;
    top: 1%;
    transform-origin: 0% 0%;
}
#verText h1{
        font-size: 50px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(27, 25, 25);   
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    left: 20%;
    top:5% ;
}
 
#nav h3{
    font-size: 20px;
    
}
h4{
    position: absolute;
    top: 10%;
    left: 25%;
}
.h4{
    position: absolute;
    bottom: 5%;
    right: 10%;
}
img {
height: 15px;
}